## Import Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data=pd.read_csv('newrdata.csv')

In [9]:
data.head()

   Fat  Protein  Carbs  Calories
0   13        6     41     307.0
1   11        4     53     330.0
2    4        6     80     377.0
3    2        8     46     232.0
4    9        7     41     273.0

In [4]:
data.describe()

                Fat       Protein         Carbs      Calories
count  14164.000000  14164.000000  14164.000000  14164.000000
mean       9.171844     10.122776     18.132519    194.151978
std       13.469167      9.754421     22.233118    149.775561
min        0.000000      0.000000      0.000000      0.000000
25%        2.000000      2.000000      2.000000     80.000000
50%        5.000000      7.000000     10.000000    158.000000
75%       12.000000     17.000000     23.000000    269.000000
max      100.000000     88.000000    100.000000    902.000000

## Removing unwanted data where calories is null

In [5]:
data= data[data['Calories'] != 0]
data.describe()

                Fat       Protein         Carbs      Calories
count  14125.000000  14125.000000  14125.000000  14125.000000
mean       9.197168     10.150726     18.175292    194.688044
std       13.479113      9.753345     22.233376    149.633848
min        0.000000      0.000000      0.000000      1.000000
25%        2.000000      2.000000      2.000000     81.000000
50%        5.000000      7.000000     10.000000    159.000000
75%       12.000000     17.000000     23.000000    269.000000
max      100.000000     88.000000    100.000000    902.000000

## save clean data into a csv file

In [12]:
data.to_csv('cdata.csv',index=False, header=True)